/* --- ABOUT ME --- */
.aboutMe {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.aboutMe__developer{
  display: flex;
}
.aboutMe__name {
  position: absolute;
  width: 100%;
  top: 1em;
  left: 32%;
  font-size: 4em;
  background: #0400ff;
  background: -webkit-linear-gradient(182deg, #0400ff 0%, #9951ff 100%);
  background: linear-gradient(182deg, #0400ff 0%, #9951ff 100%);

    -webkit-background-clip: text; 
    color: transparent;

  font-style: italic;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.aboutMe__engineer {
  width: 100vw;
  height: 100vh;
}
.aboutMe__imgtext {
  position: absolute;
  top: 12em;
  left: 4em;
  width: 46%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  box-sizing: border-box;

  background: rgba(227, 223, 223, 0.495);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
  z-index: 1;
}
.aboutMe__imgtext p{
  width: 100%;
  text-align: justify;
}
.aboutMe__imgtext h3{
  font-size: 2em;
  font-weight: 400;
}
.aboutMe__developer {
  position: absolute;
  right: 4em;
  bottom: 6em;
  width: 46%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  box-sizing: border-box;

  background: rgba(227, 223, 223, 0.495);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
}
.aboutMe__developer p{
  width: 100%;
  text-align: justify;
}
.aboutMe__developer h3{
  font-size: 2em;
  font-weight: 400;
}
.aboutMe__img {
  position: absolute;
  bottom: 0;
  left: 6em;
  width: 380px;
}
@media (max-width: 1024px) {
  .aboutMe__img {
    width: 250px;
  }
  .aboutMe__imgtext {
    width: 48%;
    left: 1em;
  }
  .aboutMe__developer {
    width: 48%;
    right: 1.5em;
  }
}
@media (max-width: 768px) {
  .aboutMe__img {
    width: 200px;
  }
  .aboutMe__imgtext {
    width: 48%;
    left: 1em;
  }
  .aboutMe__developer {
    width: 48%;
    right: 1.5em;
    bottom: em;
  }
}

@media (max-width: 500px) {
  .aboutMe {
    height: 63em;
  }
  .aboutMe__name {
    top: 0;
    left: 0.3em;
    font-size: 3em;
  }
  .aboutMe__imgtext {
    top: 5em;
    width: 93%;
    right: 0.5em;
  }
  .aboutMe__developer {
    width: 93%;
    right: 1.3em;
    bottom: 0;
  }
  .aboutMe__img {
    width: 180px;
    top: 30em;
    left: 7em;
  }
}
@media (max-width: 400px) {
  .aboutMe {
    height: 71em;
  }
  .aboutMe__name {
    top: 0.2em;
    left: 0.3em;
    font-size: 3em;
  }
  .aboutMe__imgtext {
    top: 5em;
    width: 92%;
    left: 0.5em;
  }
  .aboutMe__developer {
    width: 92%;
    right: 1em;
    bottom: 5em;
  }
}
@media (max-width: 350px) {
  .aboutMe {
    height: 80em;
  }
  .aboutMe__developer {
    bottom: 8em;
  }
  .aboutMe__img {
    width: 150px;
    top: 35em;
    left: 4em;
  }
}